<div [class]="theme" class="basic-class mt-20">
  <mat-card class="basic-card">
    <div
      fxLayout.gt-sm="row"
      fxLayout="column"
      class="basic-class"
      fxLayoutGap="16px"
    >
      <div fxFlex="100%" class="list-class">
        <h1>Theming your Angular Material app</h1>
        <h2>What is a theme?</h2>
        Theming your Angular Material app What is a theme? Angular Material's
        theming system enables you to customize components to better reflect
        your product's brand. A theme consists of configurations for the
        individual color and typography systems in Angular Material. The
        library's approach to theming reflects the guidance from the Material
        Design spec. In Angular Material, you create a color configuration by
        composing multiple palettes. In particular, a color configuration
        consists of: A primary palette: colors most widely used across all
        screens and components. An accent palette: colors used for the floating
        action button and interactive elements. A warn palette: colors used to
        convey error state. A foreground palette: colors for text and icons. A
        background palette: colors used for element backgrounds. Additionally,
        in Angular Material, a configuration may optionally include typography
        settings. More information on how typography works can be found in a
        dedicated guide. Angular Material theme styles are generated statically
        at build-time so that your app doesn't have to spend cycles generating
        theme styles on startup.
      </div>
    </div>
  </mat-card>
</div>
