@import '~@angular/material/theming';

@mixin app-section3($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
 



    
    .basic-card{
        h2{
            color: mat-color($primary);
        }
        h1{
            color: mat-color($accent);
        }
         background-color: mat-color($background);
    }
    
}
