@import "~@angular/material/theming";
@include mat-core();

@import "./app/tool-bar/tool-bar.component.theme.scss";
@import "./app/section1/section1.component.theme.scss";
@import "./app/section2/section2.component.theme.scss";
@import "./app/section3/section3.component.theme.scss";

$primary-light: mat-palette($mat-indigo);
$accent-light: mat-palette($mat-pink);
$warn-light: mat-palette($mat-red);

$primary-theme: mat-light-theme($primary-light, $accent-light, $warn-light);

$primary-dark: mat-palette($mat-purple);
$accent-dark: mat-palette($mat-amber);
$warn-dark: mat-palette($mat-red);

$dark-theme: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

@mixin components-theme($theme) {
  @include app-tool-bar($theme);
  @include app-section1($theme);
  @include app-section2($theme);
  @include app-section3($theme);
}

.light-theme {
  @include angular-material-theme($primary-theme);
  @include components-theme($primary-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include components-theme($dark-theme);
}

@for $i from 0 through 100 {
  .w-#{5 * $i} {
    width: 0px + 5 * $i !important;
  }
  .mw-#{5 * $i} {
    max-width: 0px + 5 * $i;
  }
  .w-#{5 * $i}-p {
    width: 0% + 5 * $i;
  }
  .h-#{5 * $i} {
    height: 0px + 5 * $i !important;
  }
  .h-#{5 * $i}-p {
    height: 0% + 5 * $i;
  }
  .font-size-#{$i} {
    font-size: 0px + $i;
  }
  .line-height-#{$i} {
    line-height: 0px + $i !important;
  }
  .z-index-#{$i} {
    z-index: 0px + $i;
  }
  .m-#{$i} {
    margin: 0px + $i;
  }
  .mm-#{$i} {
    margin: 0px - $i;
  }
  .mt-#{$i} {
    margin-top: 0px + $i !important;
  }
  .mt-m-#{$i} {
    margin-top: 0px - $i !important;
  }
  .mb-#{$i} {
    margin-bottom: 0px + $i !important;
  }
  .m-b-m-#{$i} {
    margin-bottom: 0px - $i;
  }
  .ml-#{$i} {
    margin-left: 0px + $i !important;
  }
  .ml-m-#{$i} {
    margin-left: 0px - $i;
  }
  .mr-#{$i} {
    margin-right: 0px + $i !important;
  }
  .mr-m-#{$i} {
    margin-right: 0px - $i;
  }
  .p-#{$i} {
    padding: 0px + $i !important;
  }
  .pm-#{$i} {
    padding: 0px - $i;
  }
  .pt-#{$i} {
    padding-top: 0px + $i !important;
  }
  .pt-m-#{$i} {
    padding-top: 0px - $i;
  }
  .pb-#{$i} {
    padding-bottom: 0px + $i !important;
  }
  .pb-m-#{$i} {
    padding-bottom: 0px - $i;
  }
  .pl-#{$i} {
    padding-left: 0px + $i !important;
  }
  .pl-m-#{$i} {
    padding-left: 0px - $i;
  }
  .pr-#{$i} {
    padding-right: 0px + $i !important;
  }
  .pr-m-#{$i} {
    padding-right: 0px - $i;
  }
  @for $j from 0 through 100 {
    .m-#{$i}-#{$j} {
      margin: (0px + $i) (0px + $j) !important;
    }
    .p-#{$i}-#{$j} {
      padding: (0px + $i) (0px + $j);
    }
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
